[Unit]
Description=AMDGPU Timings Overclocker
PartOf=cryptomining.service
After=cryptomining.service
After=amdgpu-clocks.service

[Service]
WorkingDirectory=/home/ss/Binaries/Cryptocurrencies
Type=oneshot
ExecStart=/home/ss/Binaries/Cryptocurrencies/gfx_boost.sh
ExecStop=/home/ss/Binaries/Cryptocurrencies/gfx_reset.sh
RemainAfterExit=yes

[Install]
WantedBy=cryptomining.service
